&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;form class=&quot;form&quot;&gt;
            &lt;fieldset&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;input class=&quot;form-group&quot; type=&quot;text&quot; placeholder=&quot;Username&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Password&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Email&quot;&gt;
                &lt;/div&gt;
            &lt;/fieldset&gt;

            &lt;fieldset&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Another Group&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;textarea placeholder=&quot;Textareas can work here too&quot;&gt;&lt;/textarea&gt;
                &lt;/div&gt;
                &lt;div class=&quot;form-group row&quot;&gt;
                    &lt;div class=&quot;col-md-6&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Even More Stuff&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-md-6&quot;&gt;
                        &lt;input type=&quot;text&quot; placeholder=&quot;Last Item&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Sign in&lt;/button&gt;
            &lt;/fieldset&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/div&gt;