<p><button class="btn btn-primary btn-sm" disabled="disabled" type="button">A Small Disabled Button</button></p>
<p><a href="#" class="btn btn-primary btn-sm disabled" role="button">A Small Link Button</a></p>
<p><button class="btn btn-primary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-primary" type="button">A Regular Button</button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button</button></p>

<p><button class="btn btn-primary btn-block btn-xl" type="button">A Full Width Button</button></p>

<p><button class="btn btn-primary" type="button">A Regular Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button<span class="btn-subtext">download now</span></button></p>

<p><button class="btn btn-secondary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-secondary " type="button">A Normal Button</button></p>
<p><button class="btn btn-secondary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-secondary btn-xl" type="button">An XL Button</button></p>
</div>
<section class="slab-darkgray">
<div class="patternwrap">
	<p><button class="btn btn-secondary btn-sm ondark" type="button">A Small Button</button></p>
	<p><button class="btn btn-secondary ondark" type="button">A Normal Button</button></p>
	<p><button class="btn btn-secondary btn-lg ondark" type="button">A Large Button</button></p>
	<p><button class="btn btn-secondary btn-xl ondark" type="button">An XL Button</button></p>
</div>
</section>
<div class="patternwrap">