<p><button class="btn btn-primary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-primary" type="button">A Regular Button</button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button</button></p>
<p><button class="btn btn-primary btn-xl" disabled="disabled" type="button">An XL Disabled Button</button></p>
<p><a href="#" class="btn btn-primary btn-xl disabled" role="button">An XL Link Button</a></p>

<p><button class="btn btn-primary" type="button">A Regular Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button<span class="btn-subtext">download now</span></button></p>

<p><button class="btn btn-secondary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-secondary " type="button">A Normal Button</button></p>
<p><button class="btn btn-secondary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-secondary btn-xl" type="button">An XL Button</button></p>

<button class="btn btn-secondary btn-block btn-xl" type="button">A Full Width Button</button>
<button class="btn btn-secondary btn-block btn-xl" type="button">A Full Width Button</button>
