<p><button class="btn btn-primary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-primary" type="button">A Regular Button</button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button</button></p>