<p><button class="btn btn-secondary btn-sm" type="button">A Small Button</button></p>
<p><button class="btn btn-secondary " type="button">A Normal Button</button></p>
<p><button class="btn btn-secondary btn-lg" type="button">A Large Button</button></p>
<p><button class="btn btn-secondary btn-xl" type="button">An XL Button</button></p>