<p><button class="btn btn-primary" disabled="disabled" type="button">A Disabled Button</button></p>
<p><a href="#" class="btn btn-primary disabled" role="button">A Link Button</a></p>

<p><button class="btn btn-primary" type="button">A Regular Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-lg" type="button">A Large Button<span class="btn-subtext">download now</span></button></p>
<p><button class="btn btn-primary btn-xl" type="button">An XL Button<span class="btn-subtext">download now</span></button></p>

<p><button class="btn btn-primary btn-block" type="button">A Full Width Button</button></p>
