</div>
<section class="slab-darkgray">
<div class="patternwrap">
	<p><button class="btn btn-secondary btn-sm ondark" type="button">A Small Button</button></p>
	<p><button class="btn btn-secondary ondark" type="button">A Normal Button</button></p>
	<p><button class="btn btn-secondary btn-lg ondark" type="button">A Large Button</button></p>
	<p><button class="btn btn-secondary btn-xl ondark" type="button">An XL Button</button></p>
</div>
</section>
<div class="patternwrap">