<form class="form form-inline">
    <fieldset>
        <legend>Legend</legend>

        <input type="text" placeholder="text input">
        <input type="search" placeholder="search input">
        <select name="fooselect">
            <option value="CA">CA</option>
            <option value="NY">NY</option>
        <select>


        <button type="submit" class="btn btn-primary">Sign in</button>
    </fieldset>
</form>