<div class="row">
    <div class="col-sm-6">
        <form class="form form-stacked">
            <fieldset>
                <legend>Legend</legend>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password">
                </div>

                <div class="form-group">
                    <label>E-Mail</label>
                    <input type="email" required>
                </div>

                <div class="form-group">
                    <label>City</label>
                    <input type="text">
                    <aside class="form-message">*Required Field.</aside>
                </div>

                <div class="form-group">
                    <label>State</label>
                    <select class="form-input-medium">
                        <option>AL</option>
                        <option>CA</option>
                        <option>IL</option>
                        <option>MD</option>
                        <option>NY</option>
                    </select>
                </div>

                <label class="checkbox">
                    <input type="checkbox"> I've read the terms and conditions
                </label>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </fieldset>
        </form>
    </div>
</div>