<div class="row">
    <div class="col-md-6">
        <form class="form">
            <fieldset>
                <div class="form-group">
                    <input class="form-group" type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email">
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <input type="text" placeholder="Another Group">
                </div>
                <div class="form-group">
                    <textarea placeholder="Textareas can work here too"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="text" placeholder="Even More Stuff">
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Last Item">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
</div>