<div class="row">
	<div class="col-md-6">
		<h5>Invalid Inputs</h5>

	    <form class="form">
	        <input type="email" placeholder="Requires an email" required>
	    </form>


	    <h5>Disabled Inputs</h5>

	    <form class="form">
	        <input type="text" placeholder="Disabled input here..." value="Foo bar baz" disabled>
	    </form>


	    <h5>Readonly Inputs</h5>

	    <form class="form">
	        <input type="text" placeholder="Readonly input here..." value="Foo bar baz" readonly>
	    </form>
	</div>
</div>