<div class="row">
    <div class="col-md-6">
        <form class="form">
            <div class="form-group">
                <select>
                    <option>Brazil</option>
                    <option>Canada</option>
                    <option>United States</option>
                    <option>United Kingdom</option>
                    <option>Venezuela</option>
                </select>
            </div>

            <select multiple="multiple">
                <option>Brazil</option>
                <option>Canada</option>
                <option>United States</option>
                <option>United Kingdom</option>
                <option>Venezuela</option>
            </select>
        </form>
    </div>
</div>