&lt;form class=&quot;form form-inline&quot;&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Legend&lt;/legend&gt;

        &lt;input type=&quot;text&quot; placeholder=&quot;text input&quot;&gt;
        &lt;input type=&quot;search&quot; placeholder=&quot;search input&quot;&gt;
        &lt;select name=&quot;fooselect&quot;&gt;
            &lt;option value=&quot;CA&quot;&gt;CA&lt;/option&gt;
            &lt;option value=&quot;NY&quot;&gt;NY&lt;/option&gt;
        &lt;select&gt;


        &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Sign in&lt;/button&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;