&lt;div class=&quot;container&quot;&gt;
	&lt;header&gt;
		&lt;h1 class=&quot;h1--hero&quot;&gt;Vertical Rhythm &lt;/h1&gt;
		&lt;p&gt;Building Strong Typography with Knife&lt;/p&gt;
	&lt;/header&gt;

		&lt;h1&gt;First In line&lt;/h1&gt; 
		&lt;p&gt;Rub face on everything rub face on everything. Sleep on keyboard give attitude, sleep on keyboard but attack feet find something else more interesting and all of a sudden go crazy. Under the bed sweet beast so stick butt in face. Stare at ceiling intrigued by the shower so destroy couch. Lick butt mark territory make muffins&lt;/p&gt;
		&lt;h2&gt;Second Hand Headings&lt;/h2&gt;
		&lt;p&gt;Need to chase tail destroy couch cat snacks. Throwup on your pillow behind the couch run in circles but need to chase tail for chew iPad power cord. Throwup on your pillow play time. &lt;/p&gt;
		&lt;h3&gt;Third Times the Charm&lt;/h3&gt;
		&lt;p&gt;Leave hair everywhere hunt anything that moves so climb leg, give attitude so hate dog. Stick butt in face stare at ceiling chase mice stare at ceiling. Cat snacks find something else more &lt;/p&gt;
		&lt;h4&gt;Common Time&lt;/h4&gt;
		&lt;p&gt;Sun bathe stick butt in face or chase imaginary bugs missing until dinner time or mark territory or find something else more interesting. Attack feet nap all day. Why must they do that. Under the bed.&lt;/p&gt;
		&lt;h5&gt;Really Swinging&lt;/h5&gt;
		&lt;p&gt;Shake treat bag inspect anything brought into the house yet find something else more interesting stick butt in face and chew iPad power cord. Lick butt chew iPad power cord play time attack feet attack feet why must they do that or attack feet.&lt;/p&gt;
		&lt;h6&gt;a little more sense than that the I see dead people kid.&lt;/h6&gt;
		&lt;p&gt;Stare at ceiling give attitude sun bathe. All of a sudden go crazy give attitude for sleep on keyboard or leave hair everywhere or missing until dinner time but leave hair everywhere. Need to chase tail destroy couch cat snacks. Throwup on your pillow behind the couch run in circles but need to chase tail for chew iPad power cord. Throwup on your pillow play time.&lt;/p&gt;
		&lt;small&gt;&lt;strong&gt;NB : &lt;/strong&gt;Need to chase tail destroy couch cat snacks. Throwup on your pillow behind the couch run in circles but need to chase tail for chew iPad power cord. &lt;/small&gt;
		&lt;h5&gt;Stick it in a list :&lt;/h5&gt;
		&lt;ol&gt;
			&lt;li&gt;Stare at ceiling &lt;/li&gt;
			&lt;li&gt;give attitude sun bathe&lt;/li&gt; 
			&lt;li&gt;go crazy &lt;/li&gt;
			&lt;li&gt;give attitude&lt;/li&gt; 
			&lt;li&gt;sleep on keyboard&lt;/li&gt;
			&lt;li&gt;chew iPad power cord &lt;/li&gt;
			&lt;li&gt;Throwup on your pillow &lt;/li&gt;
			&lt;li&gt;play time&lt;/li&gt;
		&lt;/ol&gt;
    &lt;script&gt;
    // Baseliner helps debug.
    // From http://keyes.ie/things/baseliner/
    (function(){

      var _grid_height=24; // This is the space between &quot;baselines&quot;.

      if(window.baseliner){baseliner.toggle();}else{var _already_loaded=document.getElementById('baseliner-script');if(_already_loaded){return;};var _baseliner=document.createElement('script');_baseliner.id='baseliner-script';_baseliner.type='text/javascript';_baseliner.src='http://files.keyes.ie/things/baseliner/baseliner-latest.min.js';document.getElementsByTagName('body')[0].appendChild(_baseliner);var loadFunction=function(evt){if(window.baseliner){return;};baseliner=new Baseliner(_grid_height);baseliner.toggle();};_baseliner.onreadystatechange=loadFunction;_baseliner.onload=loadFunction;};})();
    &lt;/script&gt;