/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
.patternwrap {
  padding: 24px; }

.color-palette {
  padding-bottom: 20px; }

.colorpattern, .colorpattern--primary {
  height: 55px;
  line-height: 55px;
  width: 100%;
  font-weight: 300;
  padding: 0 15px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.colorpattern--primary {
  font-weight: bold;
  height: 90px;
  text-align: center;
  line-height: 24px;
  padding-top: 20px; }

.color-dark {
  color: #ffffff;
  opacity: .9; }

.red {
  background-color: #D1201A; }
  .red.step1 {
    background-color: #F7DAD9; }
  .red.step2 {
    background-color: #F0B5B3; }
  .red.step3 {
    background-color: #E8908D; }
  .red.step4 {
    background-color: #E06A66; }
  .red.step5 {
    background-color: #D94540; }
  .red.step6 {
    background-color: #D1201A; }
  .red.step7 {
    background-color: #A71A15; }
  .red.step8 {
    background-color: #7D1310; }
  .red.step9 {
    background-color: #540D0A; }
  .red.step10 {
    background-color: #2A0605; }

.gray {
  background-color: #808080; }
  .gray.step1 {
    background-color: #F2F2F2; }
  .gray.step2 {
    background-color: #E6E6E6; }
  .gray.step3 {
    background-color: #CCCCCC; }
  .gray.step4 {
    background-color: #B3B3B3; }
  .gray.step5 {
    background-color: #999999; }
  .gray.step6 {
    background-color: #808080; }
  .gray.step7 {
    background-color: #666666; }
  .gray.step8 {
    background-color: #4D4D4D; }
  .gray.step9 {
    background-color: #333333; }
  .gray.step10 {
    background-color: #1A1A1A; }

.slate {
  background-color: #5F7D8C; }
  .slate.step1 {
    background-color: #ECEFF1; }
  .slate.step2 {
    background-color: #CFD8DC; }
  .slate.step3 {
    background-color: #B0BEC5; }
  .slate.step4 {
    background-color: #8FA4AF; }
  .slate.step5 {
    background-color: #77909D; }
  .slate.step6 {
    background-color: #5F7D8C; }
  .slate.step7 {
    background-color: #536E7B; }
  .slate.step8 {
    background-color: #445A65; }
  .slate.step9 {
    background-color: #36474F; }
  .slate.step10 {
    background-color: #263238; }

.pink {
  background-color: #FF5D8C; }
  .pink.step1 {
    background-color: #FFE4EC; }
  .pink.step2 {
    background-color: #FFC9D9; }
  .pink.step3 {
    background-color: #FFAEC6; }
  .pink.step4 {
    background-color: #FF93B2; }
  .pink.step5 {
    background-color: #FF789F; }
  .pink.step6 {
    background-color: #FF5D8C; }
  .pink.step7 {
    background-color: #CC4A70; }
  .pink.step8 {
    background-color: #993854; }
  .pink.step9 {
    background-color: #662538; }
  .pink.step10 {
    background-color: #33131C; }

.orange {
  background-color: #FF8F26; }
  .orange.step1 {
    background-color: #FFECDB; }
  .orange.step2 {
    background-color: #FFDAB7; }
  .orange.step3 {
    background-color: #FFC793; }
  .orange.step4 {
    background-color: #FFB46E; }
  .orange.step5 {
    background-color: #FF9B3E; }
  .orange.step6 {
    background-color: #FF8F26; }
  .orange.step7 {
    background-color: #CC721E; }
  .orange.step8 {
    background-color: #995617; }
  .orange.step9 {
    background-color: #66390F; }
  .orange.step10 {
    background-color: #331D08; }

.green {
  background-color: #76B73F; }
  .green.step1 {
    background-color: #E8F3DF; }
  .green.step2 {
    background-color: #D1E7BF; }
  .green.step3 {
    background-color: #BBDB9F; }
  .green.step4 {
    background-color: #A4CF7F; }
  .green.step5 {
    background-color: #8DC35F; }
  .green.step6 {
    background-color: #76B73F; }
  .green.step7 {
    background-color: #5E9232; }
  .green.step8 {
    background-color: #476E26; }
  .green.step9 {
    background-color: #2F4919; }
  .green.step10 {
    background-color: #18250D; }

.teal {
  background-color: #23B2A1; }
  .teal.step1 {
    background-color: #DAF2EF; }
  .teal.step2 {
    background-color: #B6E5E0; }
  .teal.step3 {
    background-color: #91D9D0; }
  .teal.step4 {
    background-color: #6CCCC0; }
  .teal.step5 {
    background-color: #48BFB1; }
  .teal.step6 {
    background-color: #23B2A1; }
  .teal.step7 {
    background-color: #197D71; }
  .teal.step8 {
    background-color: #135E55; }
  .teal.step9 {
    background-color: #0C3E38; }
  .teal.step10 {
    background-color: #061F1C; }

.cyan {
  background-color: #00BFFF; }
  .cyan.step1 {
    background-color: #D4F4FF; }
  .cyan.step2 {
    background-color: #AAEAFF; }
  .cyan.step3 {
    background-color: #80DFFF; }
  .cyan.step4 {
    background-color: #55D4FF; }
  .cyan.step5 {
    background-color: #2BCAFF; }
  .cyan.step6 {
    background-color: #00BFFF; }
  .cyan.step7 {
    background-color: #0099CC; }
  .cyan.step8 {
    background-color: #007399; }
  .cyan.step9 {
    background-color: #004C66; }
  .cyan.step10 {
    background-color: #002633; }

.blue {
  background-color: #0080FF; }
  .blue.step1 {
    background-color: #D4EAFF; }
  .blue.step2 {
    background-color: #AAD5FF; }
  .blue.step3 {
    background-color: #80C0FF; }
  .blue.step4 {
    background-color: #55AAFF; }
  .blue.step5 {
    background-color: #2B95FF; }
  .blue.step6 {
    background-color: #0080FF; }
  .blue.step7 {
    background-color: #0066CC; }
  .blue.step8 {
    background-color: #004D99; }
  .blue.step9 {
    background-color: #003366; }
  .blue.step10 {
    background-color: #001A33; }

.navy {
  background-color: #2373B2; }
  .navy.step1 {
    background-color: #DAE8F2; }
  .navy.step2 {
    background-color: #B6D0E5; }
  .navy.step3 {
    background-color: #91B9D9; }
  .navy.step4 {
    background-color: #6CA2CC; }
  .navy.step5 {
    background-color: #488ABF; }
  .navy.step6 {
    background-color: #2373B2; }
  .navy.step7 {
    background-color: #1C5C8E; }
  .navy.step8 {
    background-color: #15456B; }
  .navy.step9 {
    background-color: #0E2E47; }
  .navy.step10 {
    background-color: #071724; }

.purple {
  background-color: #7665AB; }
  .purple.step1 {
    background-color: #E8E5F1; }
  .purple.step2 {
    background-color: #D1CCE3; }
  .purple.step3 {
    background-color: #BBB2D5; }
  .purple.step4 {
    background-color: #A498C7; }
  .purple.step5 {
    background-color: #8D7FB9; }
  .purple.step6 {
    background-color: #7665AB; }
  .purple.step7 {
    background-color: #5E5189; }
  .purple.step8 {
    background-color: #473D67; }
  .purple.step9 {
    background-color: #2F2844; }
  .purple.step10 {
    background-color: #181422; }

/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
.demo {
  overflow: hidden;
  margin-bottom: 1rem;
  background: green; }

.demo .gi, .demo .demo-block {
  background: #ddd;
  color: #808080;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em !important; }
  .demo .gi:nth-of-type(2n), .demo .demo-block:nth-of-type(2n) {
    color: #ddd;
    background: #808080; }
  .demo .gi .gi, .demo .demo-block .gi {
    background: rgba(0, 0, 0, 0.1);
    color: #ddd; }
    .demo .gi .gi:nth-of-type(2n), .demo .demo-block .gi:nth-of-type(2n) {
      background: rgba(0, 0, 0, 0.3); }

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center; }

.animate-move {
  position: relative; }
  .animate-move .demo-shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background: #808080; }
  .animate-move:hover > .demo-shape {
    left: 100%;
    margin-left: -20px; }

.sg-colors {
  overflow: hidden; }
  .sg-colors li {
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 0.3em;
    margin: 0 0.2em 0.2em 0; }
    @media all and (min-width: 30em) {
      .sg-colors li {
        float: left;
        width: 5em; } }

.sg-swatch {
  display: block;
  height: 1.5em;
  width: 50%; }
  @media all and (max-width: 30em) {
    .sg-swatch {
      float: left;
      margin-right: 0.3em; } }
  @media all and (min-width: 30em) {
    .sg-swatch {
      width: 100%;
      height: 4em;
      margin-bottom: 0.2em; } }

.sg-label {
  line-height: 1; }

/*# sourceMappingURL=styleguide-specific.css.map */
