@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,300,400,700&subset=latin,cyrillic,latin-ext);
/* line 11, ../../source/scss/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../../source/scss/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../../source/scss/bootstrap/_scaffolding.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #fff;
}

/* line 32, ../../source/scss/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 44, ../../source/scss/bootstrap/_scaffolding.scss */
a {
  color: #1A1A1A;
  text-decoration: none;
}
/* line 48, ../../source/scss/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: #1A1A1A;
  text-decoration: underline;
}
/* line 54, ../../source/scss/bootstrap/_scaffolding.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 65, ../../source/scss/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 72, ../../source/scss/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 77, ../../source/scss/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 82, ../../source/scss/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 89, ../../source/scss/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 102, ../../source/scss/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 109, ../../source/scss/bootstrap/_scaffolding.scss */
hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  border-top: 1px solid #CCCCCC;
}

/* line 121, ../../source/scss/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 137, ../../source/scss/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 0.75em;
}

/* line 9, ../../source/scss/btstyles/_type.scss */
html {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../../source/scss/btstyles/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* Typography */
/* line 25, ../../source/scss/btstyles/_type.scss */
h1, .h1 {
  font-size: 67px;
  font-size: 4.20873rem;
  line-height: 54px;
  line-height: 3.375rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 29, ../../source/scss/btstyles/_type.scss */
h2, .h2 {
  font-size: 51px;
  font-size: 3.15733rem;
  line-height: 60px;
  line-height: 3.75rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 33, ../../source/scss/btstyles/_type.scss */
h3, .h3 {
  font-size: 38px;
  font-size: 2.36859rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 37, ../../source/scss/btstyles/_type.scss */
h4, .h4 {
  font-size: 28px;
  font-size: 1.77689rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

/* line 42, ../../source/scss/btstyles/_type.scss */
h5, .h5 {
  font-size: 21px;
  font-size: 1.333rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 45, ../../source/scss/btstyles/_type.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  font-weight: 600;
}

/* line 51, ../../source/scss/btstyles/_type.scss */
p, ul, ol, dl {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/* line 54, ../../source/scss/btstyles/_type.scss */
small {
  display: inline-block;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/* line 59, ../../source/scss/btstyles/_type.scss */
b, i, strong, em, small, code, kbd {
  line-height: 12px;
}

/* line 64, ../../source/scss/btstyles/_type.scss */
.h1--hero, .h2--hero {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* line 70, ../../source/scss/btstyles/_type.scss */
h1 + h5,
h2 + h5 {
  margin-top: -24px;
}

/* line 76, ../../source/scss/btstyles/_type.scss */
blockquote {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-weight: 300;
  background: -webkit-linear-gradient(#0080FF, #7665AB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 10, ../../source/scss/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../../source/scss/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../../source/scss/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../../source/scss/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}

/* line 30, ../../source/scss/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../../source/scss/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 11, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 35, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../../source/scss/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* line 5, ../../source/scss/btstyles/_btforms.scss */
.form {
  margin-bottom: 24px;
}

/* line 9, ../../source/scss/btstyles/_btforms.scss */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  border-width: 2px;
  border-width: 0.125rem;
  border-style: solid;
  padding: 10px;
  padding: 0.625rem;
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 2px;
  vertical-align: middle;
  font-weight: 400;
  color: #999999;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}

/* line 38, ../../source/scss/btstyles/_btforms.scss */
.form input:not([type]) {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  border-width: 2px;
  border-width: 0.125rem;
  border-style: solid;
  padding: 10px;
  padding: 0.625rem;
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 2px;
  vertical-align: middle;
  font-weight: 400;
  color: #999999;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}

/* line 52, ../../source/scss/btstyles/_btforms.scss */
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
  border-color: #AAD5FF;
}

/* line 73, ../../source/scss/btstyles/_btforms.scss */
.form input:not([type]):focus {
  outline: 0;
  border-color: #AAD5FF;
}

/* line 79, ../../source/scss/btstyles/_btforms.scss */
.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form select[disabled],
.form textarea[disabled] {
  cursor: not-allowed;
  background-color: #E6E6E6;
  color: #808080;
}

/* line 101, ../../source/scss/btstyles/_btforms.scss */
.form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #E6E6E6;
  color: #808080;
}

/* line 108, ../../source/scss/btstyles/_btforms.scss */
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  background-color: #E6E6E6;
  color: #808080;
  border-color: #CCCCCC;
}

/* line 117, ../../source/scss/btstyles/_btforms.scss */
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  border-color: #F0B5B3;
}

/* line 124, ../../source/scss/btstyles/_btforms.scss */
.form select {
  height: 48px;
  background-color: transparent;
}

/* line 130, ../../source/scss/btstyles/_btforms.scss */
.form select[multiple] {
  height: auto;
}

/* line 137, ../../source/scss/btstyles/_btforms.scss */
.form fieldset {
  margin-bottom: 12px;
  padding: 0;
  border: 0;
}

/* line 143, ../../source/scss/btstyles/_btforms.scss */
.form legend {
  display: block;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

/* line 152, ../../source/scss/btstyles/_btforms.scss */
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="email"],
.form-inline input[type="url"],
.form-inline input[type="date"],
.form-inline input[type="month"],
.form-inline input[type="time"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="week"],
.form-inline input[type="number"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="color"],
.form-inline input[type="file"],
.form-inline select,
.form-inline label,
.form-inline textarea {
  display: inline-block;
  margin: 0;
  width: auto;
  margin-right: 12px;
}

/* line 177, ../../source/scss/btstyles/_btforms.scss */
.form-inline input:not([type]) {
  display: inline-block;
  margin: 0;
  width: auto;
  margin-right: 12px;
}

/* line 187, ../../source/scss/btstyles/_btforms.scss */
.form-aligned .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 190, ../../source/scss/btstyles/_btforms.scss */
.form-aligned .form-group:before, .form-aligned .form-group:after {
  content: " ";
  display: table;
}
/* line 195, ../../source/scss/btstyles/_btforms.scss */
.form-aligned .form-group:after {
  clear: both;
}

/* line 200, ../../source/scss/btstyles/_btforms.scss */
.form-aligned .checkbox,
.form-aligned .radio {
  margin: 0;
}

/* line 205, ../../source/scss/btstyles/_btforms.scss */
.control-label {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 9px;
  padding-top: 0.5625rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  text-align: right;
}

/* line 211, ../../source/scss/btstyles/_btforms.scss */
.checkbox {
  display: block;
  margin-bottom: 12px;
}

/* line 216, ../../source/scss/btstyles/_btforms.scss */
.radio {
  display: block;
  margin-bottom: 12px;
}

/* line 224, ../../source/scss/btstyles/_btforms.scss */
.form-group {
  margin-bottom: 12px;
}

/* line 229, ../../source/scss/btstyles/_btforms.scss */
.form-message {
  display: block;
  color: #666666;
  font-size: 12.003px;
}

/* line 235, ../../source/scss/btstyles/_btforms.scss */
.btn + .btn {
  margin-left: 12px;
}

/* line 5, ../../source/scss/btstyles/_btbuttons.scss */
.btn {
  display: inline-block;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  padding-left: 36px;
  padding-right: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 19, ../../source/scss/btstyles/_btbuttons.scss */
.btn > .btn-subtext {
  display: block;
  font-size: 12px;
  font-size: 0.75019rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 23, ../../source/scss/btstyles/_btbuttons.scss */
.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
}

/* line 32, ../../source/scss/btstyles/_btbuttons.scss */
.btn-primary {
  background-color: #0080FF;
  color: #fff;
}
/* line 35, ../../source/scss/btstyles/_btbuttons.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #0073e6;
  color: #fff;
}
/* line 39, ../../source/scss/btstyles/_btbuttons.scss */
.btn-primary:disabled {
  opacity: .5;
}

/* line 44, ../../source/scss/btstyles/_btbuttons.scss */
.btn-secondary {
  color: #0080FF;
  background-color: transparent;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top-width: 2px;
  border-top-width: 0.125rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.625rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}
/* line 50, ../../source/scss/btstyles/_btbuttons.scss */
.btn-secondary:hover, .btn-secondary:active {
  background-color: #F2F2F2;
  color: #0080FF;
}
/* line 55, ../../source/scss/btstyles/_btbuttons.scss */
.btn-secondary.ondark {
  color: #fff;
}
/* line 57, ../../source/scss/btstyles/_btbuttons.scss */
.btn-secondary.ondark:hover, .btn-secondary.ondark:active {
  color: #cccccc;
  background-color: transparent;
}

/* line 65, ../../source/scss/btstyles/_btbuttons.scss */
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 72, ../../source/scss/btstyles/_btbuttons.scss */
.btn-block + .btn-block {
  margin-top: 12px;
}

/* line 77, ../../source/scss/btstyles/_btbuttons.scss */
.btn-sm {
  font-size: 12px;
  font-size: 0.75019rem;
  line-height: 12px;
  line-height: 0.75rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  padding-left: 24px;
  padding-right: 24px;
}
/* line 82, ../../source/scss/btstyles/_btbuttons.scss */
.btn-sm.btn-secondary {
  border-top-width: 2px;
  border-top-width: 0.125rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.625rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

/* line 87, ../../source/scss/btstyles/_btbuttons.scss */
.btn-lg {
  font-size: 28px;
  font-size: 1.77689rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  padding-left: 48px;
  padding-right: 48px;
}
/* line 92, ../../source/scss/btstyles/_btbuttons.scss */
.btn-lg > .btn-subtext {
  display: block;
  font-size: 12px;
  font-size: 0.75019rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 96, ../../source/scss/btstyles/_btbuttons.scss */
.btn-lg.btn-secondary {
  border-top-width: 2px;
  border-top-width: 0.125rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.625rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

/* line 101, ../../source/scss/btstyles/_btbuttons.scss */
.btn-xl {
  font-size: 38px;
  font-size: 2.36859rem;
  line-height: 60px;
  line-height: 3.75rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 18px;
  padding-top: 1.125rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  padding-left: 72px;
  padding-right: 72px;
}
/* line 106, ../../source/scss/btstyles/_btbuttons.scss */
.btn-xl > .btn-subtext {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
/* line 110, ../../source/scss/btstyles/_btbuttons.scss */
.btn-xl.btn-secondary {
  border-top-width: 2px;
  border-top-width: 0.125rem;
  border-top-style: solid;
  padding-top: 16px;
  padding-top: 1rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

/* line 1, ../../source/scss/btstyles/_slab.scss */
.slab-black {
  background: #000000;
}

/* line 5, ../../source/scss/btstyles/_slab.scss */
.slab-darkgray {
  background: #333333;
}

/* line 14, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../../source/scss/bootstrap/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../../source/scss/bootstrap/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../../source/scss/bootstrap/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../../source/scss/bootstrap/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../../source/scss/bootstrap/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../../source/scss/bootstrap/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../../source/scss/bootstrap/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../../source/scss/bootstrap/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../../source/scss/bootstrap/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 54, ../../source/scss/bootstrap/_utilities.scss */
.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
/* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
.visible-xs {
  display: none !important;
}

/* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
.visible-sm {
  display: none !important;
}

/* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
.visible-md {
  display: none !important;
}

/* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
.visible-lg {
  display: none !important;
}

/* line 34, ../../source/scss/bootstrap/_responsive-utilities.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 7, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 10, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-xs {
    display: table;
  }

  /* line 11, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 12, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 52, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 57, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  /* line 62, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 10, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-sm {
    display: table;
  }

  /* line 11, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 12, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 71, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 76, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 81, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 7, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .visible-md {
    display: block !important;
  }

  /* line 10, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-md {
    display: table;
  }

  /* line 11, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 12, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 90, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 95, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 100, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  /* line 7, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 10, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-lg {
    display: table;
  }

  /* line 11, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 12, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 109, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  /* line 114, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  /* line 119, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 7, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .visible-print {
    display: block !important;
  }

  /* line 10, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-print {
    display: table;
  }

  /* line 11, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-print {
    display: table-row !important;
  }

  /* line 12, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 153, ../../source/scss/bootstrap/_responsive-utilities.scss */
.visible-print-block {
  display: none !important;
}
@media print {
  /* line 153, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-print-block {
    display: block !important;
  }
}

/* line 160, ../../source/scss/bootstrap/_responsive-utilities.scss */
.visible-print-inline {
  display: none !important;
}
@media print {
  /* line 160, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-print-inline {
    display: inline !important;
  }
}

/* line 167, ../../source/scss/bootstrap/_responsive-utilities.scss */
.visible-print-inline-block {
  display: none !important;
}
@media print {
  /* line 167, ../../source/scss/bootstrap/_responsive-utilities.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  /* line 18, ../../source/scss/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-print {
    display: none !important;
  }
}
