&lt;p&gt;&lt;button class=&quot;btn btn-primary&quot; disabled=&quot;disabled&quot; type=&quot;button&quot;&gt;A Disabled Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-primary disabled&quot; role=&quot;button&quot;&gt;A Link Button&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;A Regular Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-lg&quot; type=&quot;button&quot;&gt;A Large Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-xl&quot; type=&quot;button&quot;&gt;An XL Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;

&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-block&quot; type=&quot;button&quot;&gt;A Full Width Button&lt;/button&gt;&lt;/p&gt;
