/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */

 @import "./source/scss/btstyles/btcolors";
 @import "./source/scss/btstyles/btvariables";

// A small wrapper around all content
.patternwrap {
	padding: 24px;
}

// For the color palettes

.color-palette {
	padding-bottom: 20px;
}

.colorpattern {
	height: 55px;
  	line-height: 55px;
  	width: 100%;
  	font-weight: 300;
  	padding: 0 15px;
  	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.colorpattern--primary {
	@extend .colorpattern;
	font-weight: bold;
	height: 90px;
	text-align:	center;
	line-height: 24px;
	padding-top: 20px;
}

.color-dark {
	color: #ffffff;
	opacity: .9;
}

.red {
	background-color: $red;
	&.step1 {background-color: $red--1}
	&.step2 {background-color: $red--2}
	&.step3 {background-color: $red--3}
	&.step4 {background-color: $red--4}
	&.step5 {background-color: $red--5}
	&.step6 {background-color: $red--6}
	&.step7 {background-color: $red--7}
	&.step8 {background-color: $red--8}
	&.step9 {background-color: $red--9}
	&.step10 {background-color: $red--10}
}

.gray {
	background-color: $gray;
	&.step1 {background-color: $gray--1}
	&.step2 {background-color: $gray--2}
	&.step3 {background-color: $gray--3}
	&.step4 {background-color: $gray--4}
	&.step5 {background-color: $gray--5}
	&.step6 {background-color: $gray--6}
	&.step7 {background-color: $gray--7}
	&.step8 {background-color: $gray--8}
	&.step9 {background-color: $gray--9}
	&.step10 {background-color: $gray--10}
}

.slate {
	background-color: $slate;
	&.step1 {background-color: $slate--1}
	&.step2 {background-color: $slate--2}
	&.step3 {background-color: $slate--3}
	&.step4 {background-color: $slate--4}
	&.step5 {background-color: $slate--5}
	&.step6 {background-color: $slate--6}
	&.step7 {background-color: $slate--7}
	&.step8 {background-color: $slate--8}
	&.step9 {background-color: $slate--9}
	&.step10 {background-color: $slate--10}
}

.pink {
	background-color: $pink;
	&.step1 {background-color: $pink--1}
	&.step2 {background-color: $pink--2}
	&.step3 {background-color: $pink--3}
	&.step4 {background-color: $pink--4}
	&.step5 {background-color: $pink--5}
	&.step6 {background-color: $pink--6}
	&.step7 {background-color: $pink--7}
	&.step8 {background-color: $pink--8}
	&.step9 {background-color: $pink--9}
	&.step10 {background-color: $pink--10}
}

.orange {
	background-color: $orange;
	&.step1 {background-color: $orange--1}
	&.step2 {background-color: $orange--2}
	&.step3 {background-color: $orange--3}
	&.step4 {background-color: $orange--4}
	&.step5 {background-color: $orange--5}
	&.step6 {background-color: $orange--6}
	&.step7 {background-color: $orange--7}
	&.step8 {background-color: $orange--8}
	&.step9 {background-color: $orange--9}
	&.step10 {background-color: $orange--10}
}

.green {
	background-color: $green;
	&.step1 {background-color: $green--1}
	&.step2 {background-color: $green--2}
	&.step3 {background-color: $green--3}
	&.step4 {background-color: $green--4}
	&.step5 {background-color: $green--5}
	&.step6 {background-color: $green--6}
	&.step7 {background-color: $green--7}
	&.step8 {background-color: $green--8}
	&.step9 {background-color: $green--9}
	&.step10 {background-color: $green--10}
}

.teal {
	background-color: $teal;
	&.step1 {background-color: $teal--1}
	&.step2 {background-color: $teal--2}
	&.step3 {background-color: $teal--3}
	&.step4 {background-color: $teal--4}
	&.step5 {background-color: $teal--5}
	&.step6 {background-color: $teal--6}
	&.step7 {background-color: $teal--7}
	&.step8 {background-color: $teal--8}
	&.step9 {background-color: $teal--9}
	&.step10 {background-color: $teal--10}
}

.cyan {
	background-color: $cyan;
	&.step1 {background-color: $cyan--1}
	&.step2 {background-color: $cyan--2}
	&.step3 {background-color: $cyan--3}
	&.step4 {background-color: $cyan--4}
	&.step5 {background-color: $cyan--5}
	&.step6 {background-color: $cyan--6}
	&.step7 {background-color: $cyan--7}
	&.step8 {background-color: $cyan--8}
	&.step9 {background-color: $cyan--9}
	&.step10 {background-color: $cyan--10}
}

.blue {
	background-color: $blue;
	&.step1 {background-color: $blue--1}
	&.step2 {background-color: $blue--2}
	&.step3 {background-color: $blue--3}
	&.step4 {background-color: $blue--4}
	&.step5 {background-color: $blue--5}
	&.step6 {background-color: $blue--6}
	&.step7 {background-color: $blue--7}
	&.step8 {background-color: $blue--8}
	&.step9 {background-color: $blue--9}
	&.step10 {background-color: $blue--10}
}

.navy {
	background-color: $navy;
	&.step1 {background-color: $navy--1}
	&.step2 {background-color: $navy--2}
	&.step3 {background-color: $navy--3}
	&.step4 {background-color: $navy--4}
	&.step5 {background-color: $navy--5}
	&.step6 {background-color: $navy--6}
	&.step7 {background-color: $navy--7}
	&.step8 {background-color: $navy--8}
	&.step9 {background-color: $navy--9}
	&.step10 {background-color: $navy--10}
}

.purple {
	background-color: $purple;
	&.step1 {background-color: $purple--1}
	&.step2 {background-color: $purple--2}
	&.step3 {background-color: $purple--3}
	&.step4 {background-color: $purple--4}
	&.step5 {background-color: $purple--5}
	&.step6 {background-color: $purple--6}
	&.step7 {background-color: $purple--7}
	&.step8 {background-color: $purple--8}
	&.step9 {background-color: $purple--9}
	&.step10 {background-color: $purple--10}
}

/* Style Guide Interface Colors */ 
$sg-primary : #222;
$sg-secondary : #808080;
$sg-tertiary : #ddd;
$sg-quaternary : #fff;
$sg-quinary : #999;
$sg-tint : rgba(255,255,255,0.05);
$sg-tint-2 : rgba(255,255,255,0.25);
$sg-tone : rgba(0,0,0,0.1);
$sg-tone-2 : rgba(0,0,0,0.3);

/* Typography */
$sg-font-size-norm : 100%;
$sg-font-size-sm : 70%;
$sg-font-size-large : 120%;

/* Defaults */
$sg-space : 1em;
$sg-doublespace : $sg-space*2;
$sg-pad : 1em;
$sg-pad-half : $sg-pad/2;

/* Dimensions */
$offset-top: 2em;

/* Breakpoints */
$sg-bp-small : 24em;
$sg-bp-small-2 : 30em;
$sg-bp-med : 48em;
$sg-bp-large : 72em;
$sg-bp-xl : 80em;

$animate-quick: 0.2s;


// Demo to show grid system - in this stylesheet because it shouldn't be included in the production styles
.demo {
	overflow: hidden;
	margin-bottom: 1rem;
	background: green;
}

.demo .gi, .demo .demo-block {
	background: $sg-tertiary;
	color: $sg-secondary;
	text-align: center;
	margin-bottom: $sg-pad-half;
	padding: 1em !important;
	
	&:nth-of-type(2n) {
		color: $sg-tertiary;
		background: $sg-secondary;
	}
	
	.gi {
		background: $sg-tone;
		color: $sg-tertiary;
		
		&:nth-of-type(2n) {
			background: $sg-tone-2;
		}
	}
}

//Demo box for animation
.demo-animate {
	background: #ddd;
	padding: $sg-pad;
	margin-bottom: $sg-space;
	text-align: center;
}

//Animate Demo to show 
.animate-move {
	position: relative;

	.demo-shape {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20px;
		background: $sg-secondary;
	}

	&:hover {
		> .demo-shape {
			left: 100%;
			margin-left: -20px;
		}
	}
}

// Style Guide color swatches
.sg-colors {
	overflow: hidden;

	li {
		overflow: hidden;
		border: 1px solid $sg-tertiary;
		padding: 0.3em;
		margin: 0 0.2em 0.2em 0;

		@media all and (min-width: $sg-bp-small-2) {
			float: left;
			width: 5em;
		}
	}
}

.sg-swatch {
	display: block;
	height: 1.5em;
	width: 50%;
	
	@media all and (max-width: $sg-bp-small-2) {
		float: left;
		margin-right: 0.3em;
	}

	@media all and (min-width: $sg-bp-small-2) {
		width: 100%;
		height: 4em;
		margin-bottom: 0.2em;
	}
	
}

.sg-label {
	line-height: 1;
}