&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;form class=&quot;form&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;select&gt;
                    &lt;option&gt;Brazil&lt;/option&gt;
                    &lt;option&gt;Canada&lt;/option&gt;
                    &lt;option&gt;United States&lt;/option&gt;
                    &lt;option&gt;United Kingdom&lt;/option&gt;
                    &lt;option&gt;Venezuela&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;

            &lt;select multiple=&quot;multiple&quot;&gt;
                &lt;option&gt;Brazil&lt;/option&gt;
                &lt;option&gt;Canada&lt;/option&gt;
                &lt;option&gt;United States&lt;/option&gt;
                &lt;option&gt;United Kingdom&lt;/option&gt;
                &lt;option&gt;Venezuela&lt;/option&gt;
            &lt;/select&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/div&gt;