&lt;h2 class=&quot;h2--hero&quot;&gt;Our Hero font is Helvetica&lt;/h2&gt;
&lt;h2&gt;Our Primary font is Open Sans&lt;/h2&gt;

&lt;h4&gt;ABCDFEGHIJKLMNOPQRSTUVWXYZ&lt;br&gt;
	abcdefghijklmnopqrstuvwxyz&lt;br&gt;
	1234567890 @#$%&amp;amp;* (){}[] ^&amp;lt; &amp;gt; ?!.
&lt;/h4&gt;