<div class="row">
	<div class="col-md-6">

	    <table class="table--condensed">
	      	<thead>
	        	<tr>
          			<th>#</th>
          			<th>First Name</th>
          			<th>Last Name</th>
          			<th>Position</th>
	        	</tr>
	      	</thead>
	      	<tbody>
	        	<tr>
	          		<th scope="row">1</th>
			        <td>Dan</td>
			        <td>Brown</td>
			        <td>Editorial Director</td>
	        	</tr>
	        	<tr>
	          		<th scope="row">2</th>
	          		<td>Jeff</td>
	          		<td>Kyung</td>
	          		<td>Art Director</td>
	        	</tr>
	        	<tr>
	          		<th scope="row">3</th>
	          		<td>Adam</td>
	          		<td>Parker</td>
	          		<td>Creative Producer</td>
	        	</tr>
	      	</tbody>
	    </table>
	    
	</div>
</div>