&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-sm&quot; type=&quot;button&quot;&gt;A Small Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary &quot; type=&quot;button&quot;&gt;A Normal Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-lg&quot; type=&quot;button&quot;&gt;A Large Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-xl&quot; type=&quot;button&quot;&gt;An XL Button&lt;/button&gt;&lt;/p&gt;