//== BitTorrent Brand Colors
//
//## BT Color variables to be used
$black:				#000000;
$white:				#FFFFFF;

$gray--1:			#F2F2F2;
$gray--2:			#E6E6E6;
$gray--3:			#CCCCCC;
$gray--4:			#B3B3B3;
$gray--5:			#999999;
$gray--6:			#808080;
$gray--7:			#666666;
$gray--8:			#4D4D4D;
$gray--9:			#333333;
$gray--10:			#1A1A1A;
$gray:				$gray--6;

$slate--1:			#ECEFF1;
$slate--2:			#CFD8DC;
$slate--3:			#B0BEC5;
$slate--4:			#8FA4AF;
$slate--5:			#5F7D8C;
$slate--6:			#5F7D8C;
$slate--7:			#536E7B;
$slate--8:			#445A65;
$slate--9:			#36474F;
$slate--10:			#263238;
$slate:				$slate--6;

$red--1:			#F7DAD9;
$red--2:			#F0B5B3;
$red--3:			#E8908D;
$red--4:			#E06A66;
$red--5:			#D94540;
$red--6:			#D1201A;
$red--7:			#A71A15;
$red--8:			#7D1310;
$red--9:			#540D0A;
$red--10:			#2A0605;
$red:				$red--6;

$pink--1:			#FFE4EC;
$pink--2:			#FFC9D9;
$pink--3:			#FFAEC6;
$pink--4:			#FF93B2;
$pink--5:			#FF789F;
$pink--6:			#FF5D8C;
$pink--7:			#CC4A70;
$pink--8:			#993854;
$pink--9:			#662538;
$pink--10:			#33131C;
$pink:				$pink--6;

$orange--1:			#FFECDB;
$orange--2:			#FFDAB7;
$orange--3:			#FFC793;
$orange--4:			#FFB46E;
$orange--5:			#FF9B3E;
$orange--6:			#FF8F26;
$orange--7:			#CC721E;
$orange--8:			#995617;
$orange--9:			#66390F;
$orange--10:		#331D08;
$orange:			$orange--6;

$green--1:			#E8F3DF;
$green--2:			#D1E7BF;
$green--3:			#BBDB9F;
$green--4:			#A4CF7F;
$green--5:			#8DC35F;
$green--6:			#76B73F;
$green--7:			#5E9232;
$green--8:			#476E26;
$green--9:			#2F4919;
$green--10:			#18250D;
$green:				$green--6;

$teal--1:			#DAF2EF;
$teal--2:			#B6E5E0;
$teal--3:			#91D9D0;
$teal--4:			#6CCCC0;
$teal--5:			#48BFB1;
$teal--6:			#23B2A1;
$teal--7:			#197D71;
$teal--8:			#135E55;
$teal--9:			#0C3E38;
$teal--10:			#061F1C;
$teal:				$teal--6;

$cyan:				#00BFFF;
$cyan--light1:		#2BCAFF;
$cyan--light2:		#55D4FF;
$cyan--light3:		#80DFFF;
$cyan--light4:		#AAEAFF;
$cyan--light5:		#D4F4FF;
$cyan--dark1:		#0099CC;
$cyan--dark2:		#007399;
$cyan--dark3:		#004C66;
$cyan--dark4:		#002633;

$cyan--1:			#D4F4FF;
$cyan--2:			#AAEAFF;
$cyan--3:			#80DFFF;
$cyan--4:			#55D4FF;
$cyan--5:			#2BCAFF;
$cyan--6:			#00BFFF;
$cyan--1:			#0099CC;
$cyan--2:			#007399;
$cyan--3:			#004C66;
$cyan--4:			#002633;
$cyan:				$cyan--6;

$blue--1:			#D4EAFF;
$blue--2:			#AAD5FF;
$blue--3:			#80C0FF;
$blue--4:			#55AAFF;
$blue--5:			#2B95FF;
$blue--6:			#0080FF;
$blue--7:			#0066CC;
$blue--8:			#004D99;
$blue--9:			#003366;
$blue--10:			#001A33;
$blue:				$blue--6;

$navy:				#2373B2;
$navy--light1:		#488ABF;
$navy--light2:		#6CA2CC;
$navy--light3:		#91B9D9;
$navy--light4:		#B6D0E5;
$navy--light5:		#DAE8F2;
$navy--dark1:		#1C5C8E;
$navy--dark2:		#15456B;
$navy--dark3:		#0E2E47;
$navy--dark4:		#071724;

$navy--1:			#DAE8F2;
$navy--2:			#B6D0E5;
$navy--3:			#91B9D9;
$navy--4:			#6CA2CC;
$navy--5:			#488ABF;
$navy--6:			#2373B2;
$navy--7:			#1C5C8E;
$navy--8:			#15456B;
$navy--9:			#0E2E47;
$navy--10:			#071724;
$navy:				$navy--6;

$purple--1:			#E8E5F1;
$purple--2:			#D1CCE3;
$purple--3:			#BBB2D5;
$purple--4:			#A498C7;
$purple--5:			#8D7FB9;
$purple--6:			#7665AB;
$purple--7:			#5E5189;
$purple--8:			#473D67;
$purple--9:			#2F2844;
$purple--10:		#181422;
$purple:			$purple--6;




