//== BitTorrent Brand Colors
//
//## BT Color variables to be used

$btgray:				#808080;
$btgray-light-1:		#999999;
$btgray-light-2:		#B3B3B3;
$btgray-light-3:		#CCCCCC;
$btgray-light-4:		#E6E6E6;
$btgray-light-5:		#F2F2F2;
$btgray-dark-1:			#666666;
$btgray-dark-2:			#4D4D4D;
$btgray-dark-3:			#333333;
$btgray-dark-4:			#1A1A1A;

$btslate:				#5F7D8C;
$btslate-light-1:		#77909D;
$btslate-light-2:		#8FA4AF;
$btslate-light-3:		#B0BEC5;
$btslate-light-4:		#CFD8DC;
$btslate-light-5:		#ECEFF1;
$btslate-dark-1:		#536E7B;
$btslate-dark-2:		#445A65;
$btslate-dark-3:		#36474F;
$btslate-dark-4:		#263238;

$btred:					#D1201A;
$btred-light-1:			#D94540;
$btred-light-2:			#E06A66;
$btred-light-3:			#E8908D;
$btred-light-4:			#F0B5B3;
$btred-light-5:			#F7DAD9;
$btred-dark-1:			#A71A15;
$btred-dark-2:			#7D1310;
$btred-dark-3:			#540D0A;
$btred-dark-4:			#2A0605;

$btpink:				#FF5D8C;
$btpink-light-1:		#FF789F;
$btpink-light-2:		#FF93B2;
$btpink-light-3:		#FFAEC6;
$btpink-light-4:		#FFC9D9;
$btpink-light-5:		#FFE4EC;
$btpink-dark-1:			#CC4A70;
$btpink-dark-2:			#993854;
$btpink-dark-3:			#662538;
$btpink-dark-4:			#33131C;

$btorange:				#FF8F26;
$btorange-light-1:		#FF9B3E;
$btorange-light-2:		#FFB46E;
$btorange-light-3:		#FFC793;
$btorange-light-4:		#FFDAB7;
$btorange-light-5:		#FFECDB;
$btorange-dark-1:		#CC721E;
$btorange-dark-2:		#995617;
$btorange-dark-3:		#66390F;
$btorange-dark-4:		#331D08;

$btgreen:				#76B73F;
$btgreen-light-1:		#8DC35F;
$btgreen-light-2:		#A4CF7F;
$btgreen-light-3:		#BBDB9F;
$btgreen-light-4:		#D1E7BF;
$btgreen-light-5:		#E8F3DF;
$btgreen-dark-1:		#5E9232;
$btgreen-dark-2:		#476E26;
$btgreen-dark-3:		#2F4919;
$btgreen-dark-4:		#18250D;

$btteal:				#23B2A1;
$btteal-light-1:		#48BFB1;
$btteal-light-2:		#6CCCC0;
$btteal-light-3:		#91D9D0;
$btteal-light-4:		#B6E5E0;
$btteal-light-5:		#DAF2EF;
$btteal-dark-1:			#197D71;
$btteal-dark-2:			#135E55;
$btteal-dark-3:			#0C3E38;
$btteal-dark-4:			#061F1C;

$btcyan:				#00BFFF;
$btcyan-light-1:		#2BCAFF;
$btcyan-light-2:		#55D4FF;
$btcyan-light-3:		#80DFFF;
$btcyan-light-4:		#AAEAFF;
$btcyan-light-5:		#D4F4FF;
$btcyan-dark-1:			#0099CC;
$btcyan-dark-2:			#007399;
$btcyan-dark-3:			#004C66;
$btcyan-dark-4:			#002633;

$btblue:				#0080FF;
$btblue-light-1:		#2B95FF;
$btblue-light-2:		#55AAFF;
$btblue-light-3:		#80C0FF;
$btblue-light-4:		#AAD5FF;
$btblue-light-5:		#D4EAFF;
$btblue-dark-1:			#0066CC;
$btblue-dark-2:			#004D99;
$btblue-dark-3:			#003366;
$btblue-dark-4:			#001A33;

$btnavy:				#2373B2;
$btnavy-light-1:		#488ABF;
$btnavy-light-2:		#6CA2CC;
$btnavy-light-3:		#91B9D9;
$btnavy-light-4:		#B6D0E5;
$btnavy-light-5:		#DAE8F2;
$btnavy-dark-1:			#1C5C8E;
$btnavy-dark-2:			#15456B;
$btnavy-dark-3:			#0E2E47;
$btnavy-dark-4:			#071724;

$btpurple:				#7665AB;
$btpurple-light-1:		#8D7FB9;
$btpurple-light-2:		#A498C7;
$btpurple-light-3:		#BBB2D5;
$btpurple-light-4:		#D1CCE3;
$btpurple-light-5:		#E8E5F1;
$btpurple-dark-1:		#5E5189;
$btpurple-dark-2:		#473D67;
$btpurple-dark-3:		#2F2844;
$btpurple-dark-4:		#181422;

