// Knife is imported and used to achieve vertical Rhythm.
// https://github.com/Pushplaybang/knife

// Import Google Font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,300,400,700&subset=latin,cyrillic,latin-ext);

@include establish-baseline;

html { 
	font-family: 'Open Sans', sans-serif;
	@include adjust-leading-to(2);
	-webkit-font-smoothing: antialiased;
}
body {}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}
/* Typography */



h1, .h1 { 
	@include adjust-font-size-to($size-1, 4.5); 
	@include rhythm(0, 0, 0, 2, $size-1);
}
h2, .h2 { 
	@include adjust-font-size-to($size-2); 
	@include rhythm(0, 0, 0, 2, $size-2);
}
h3, .h3 { 
	@include adjust-font-size-to($size-3); 
	@include rhythm(0, 0, 0, 2, $size-3);
}
h4, .h4 {
	@include adjust-font-size-to($size-4);
	@include rhythm(0, 0, 0, 2, $size-4);
	font-weight: 300;
}
h5, .h5 { 
	@include adjust-font-size-to($size-5); 
	@include rhythm(0, 0, 0, 2, $size-5);}
h6, .h6 { 
	@include adjust-font-size-to($size-base);
	@include rhythm(0, 0, 0, 0, $size-base);
	font-weight: 600;
}

p, ul, ol,dl {
	@include rhythm(0, 0, 0, 1, 16px);
}
small { 
	display: inline-block;
	@include rhythm(0, 0, 0, 1, 16px);
}

b, i, strong, em, small, code, kbd {
	line-height: $base-line-height;
}

.h1, .h2 {
	&--hero {
	font-family: $header-hero-family;
	font-weight: $header-hero-weight;
	}
}

h1 + h5, 
h2 + h5 {
	margin-top: $base-line-height * -2;
};


blockquote { 
	@include adjust-font-size-to(25px);
	@include rhythm-margins(1, 1, 25px);
	font-weight: 300;
	background: -webkit-linear-gradient($btblue, $btpurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

