<h2 class="h2--hero">Our Hero font is Helvetica</h2>
<h2>Our Primary font is Open Sans</h2>

<h4>ABCDFEGHIJKLMNOPQRSTUVWXYZ<br>
	abcdefghijklmnopqrstuvwxyz<br>
	1234567890 @#$%&amp;* (){}[] ^&lt; &gt; ?!.
</h4>