&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-sm&quot; disabled=&quot;disabled&quot; type=&quot;button&quot;&gt;A Small Disabled Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn-sm disabled&quot; role=&quot;button&quot;&gt;A Small Link Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-sm&quot; type=&quot;button&quot;&gt;A Small Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;A Regular Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-lg&quot; type=&quot;button&quot;&gt;A Large Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-xl&quot; type=&quot;button&quot;&gt;An XL Button&lt;/button&gt;&lt;/p&gt;

&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-block btn-xl&quot; type=&quot;button&quot;&gt;A Full Width Button&lt;/button&gt;&lt;/p&gt;

&lt;p&gt;&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot;&gt;A Regular Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-lg&quot; type=&quot;button&quot;&gt;A Large Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-primary btn-xl&quot; type=&quot;button&quot;&gt;An XL Button&lt;span class=&quot;btn-subtext&quot;&gt;download now&lt;/span&gt;&lt;/button&gt;&lt;/p&gt;

&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-sm&quot; type=&quot;button&quot;&gt;A Small Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary &quot; type=&quot;button&quot;&gt;A Normal Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-lg&quot; type=&quot;button&quot;&gt;A Large Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-xl&quot; type=&quot;button&quot;&gt;An XL Button&lt;/button&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;section class=&quot;slab-darkgray&quot;&gt;
&lt;div class=&quot;patternwrap&quot;&gt;
	&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-sm ondark&quot; type=&quot;button&quot;&gt;A Small Button&lt;/button&gt;&lt;/p&gt;
	&lt;p&gt;&lt;button class=&quot;btn btn-secondary ondark&quot; type=&quot;button&quot;&gt;A Normal Button&lt;/button&gt;&lt;/p&gt;
	&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-lg ondark&quot; type=&quot;button&quot;&gt;A Large Button&lt;/button&gt;&lt;/p&gt;
	&lt;p&gt;&lt;button class=&quot;btn btn-secondary btn-xl ondark&quot; type=&quot;button&quot;&gt;An XL Button&lt;/button&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/section&gt;
&lt;div class=&quot;patternwrap&quot;&gt;