&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-md-6&quot;&gt;
		&lt;h5&gt;Invalid Inputs&lt;/h5&gt;

	    &lt;form class=&quot;form&quot;&gt;
	        &lt;input type=&quot;email&quot; placeholder=&quot;Requires an email&quot; required&gt;
	    &lt;/form&gt;


	    &lt;h5&gt;Disabled Inputs&lt;/h5&gt;

	    &lt;form class=&quot;form&quot;&gt;
	        &lt;input type=&quot;text&quot; placeholder=&quot;Disabled input here...&quot; value=&quot;Foo bar baz&quot; disabled&gt;
	    &lt;/form&gt;


	    &lt;h5&gt;Readonly Inputs&lt;/h5&gt;

	    &lt;form class=&quot;form&quot;&gt;
	        &lt;input type=&quot;text&quot; placeholder=&quot;Readonly input here...&quot; value=&quot;Foo bar baz&quot; readonly&gt;
	    &lt;/form&gt;
	&lt;/div&gt;
&lt;/div&gt;